@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300&display=swap');

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

body {
  background-color: #f0f0f0;
}

main { 
  margin-top: 60px;
  background-color: #f0f0f0;
}

.navLinks {
  padding: 10px;
  background: black;
  color: white;
  margin-right: 7px;
  margin-bottom: 20px;
}

.allProducts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 10px;
  margin: 10px;
  background-color: #f0f0f0;
}

.productsHeader {
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.productCard {
  padding: 10px;
  margin: 5px 10px 10px 5px;
  box-shadow: 3px 3px 5px #607848;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmx(320px, 1fr));
}

.productCard img {
  grid-column: 1;
  grid-row: 1 / 3;
}

.productCard p {
  grid-column: 2;
  justify-self: end;
}

.productName {
  align-self: end;
  justify-self: end;
  font-size: 18px;
  font-weight: bold;
}

.cartOptions button {
  padding: 10px;
  margin-left: 15px;
  box-shadow: 0 5px #999;
  border-radius: 3px;
}

.quantity {
  display: inline-block; }
 
 .quantity .input-text.qty {
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
 }
 
 .quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; }
 
 .quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
 }
 
 .quantity.buttons_added .minus,
 .quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #ffffff;
  border: 1px solid #efefef;
  cursor:pointer;}
 
 .quantity.buttons_added .minus {
  border-right: 0; }
 
 .quantity.buttons_added .plus {
  border-left: 0; }
 
 .quantity.buttons_added .minus:hover,
 .quantity.buttons_added .plus:hover {
  background: #eeeeee; }
 
 .quantity input::-webkit-outer-spin-button,
 .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }
  
  .quantity.buttons_added .minus:focus,
 .quantity.buttons_added .plus:focus {
  outline: none; }