.adminWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-gap: 15px;
	margin: 25px 15px 0px 15px;
}

.adminLink {
	background-color: #607848;
	padding: 25px;
	text-decoration: none;
	color: white;
	border-radius: 0.25rem;
	text-align: center;
	transition: all 0.3s;
	justify-content: center;
	align-content: center;
	text-transform: uppercase;
	margin-right: 5px;
	margin-left: 5px;
}
