/* .homepage {
  overflow: hidden;
} */

h1 {
	font-family: 'Alegreya Sans SC', sans-serif;
}

p {
	font-family: sans-serif;
}

html {
	scroll-behavior: smooth;
}

#shopButton {
	background-color: #303018;
	padding: 10px;
	text-decoration: none;
	color: white;
	border-radius: 0.25rem;
	text-align: center;
	transition: all 0.3s;
	justify-content: center;
	text-transform: uppercase;
	margin-top: 15px;
}

#shopButton:hover {
	background-color: #607848;
}

#shopButton:visited {
	color: white;
}

.homepage {
	/* background: url(../images/homePhotoWide.jpg) center; */
	height: 100vh;
	width: 100vw;
	background-size: 150vmin 90%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	align-items: center;
	grid-row: 1;
	align-self: start;
	justify-content: center;
	margin-top: -10px;
}

.wrapper {
	grid-template-columns: repeat(auto-fit, minmax(240, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(240, 1fr));
}
.each-slide {
	width: 100%;
}
.homepage > * {
	color: black;
}

.homepage > h1 {
	font-size: 4rem;
	padding-bottom: 2.5rem;
	margin: auto;
	text-align: center;
	color: green;
}

.article-heder {
	text-align: center;
}

.article-heder > button {
	margin: auto;
	color: white;
	text-decoration: none;
}

.header-heading {
	font-size: 4rem;
	padding-bottom: 2.5rem;
	margin: auto;
	text-align: center;
	color: rgb(3, 41, 3);
}
.article-heder > p {
	font-size: 4rem;
	padding-bottom: 2.5rem;
	margin: auto;
	text-align: center;
	color: rgb(3, 41, 3);
}
.homepage > article {
	margin: auto;
	text-align: center;
	text-transform: uppercase;
}

.homepage > button {
	margin: auto;
	color: white;
}
.allProdLink {
	color: white;
	margin: auto;
}

@media only screen and (max-width: 768) {
	.homepage {
		margin-top: 5em;
		padding-top: 3rem;
	}
}
