.login {
	background-color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-container {
	width: 300px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid lightgray;
}
.login-container > h1 {
	font-weight: 500;
	margin-bottom: 20px;
}
.login-container > form > h5 {
	margin-bottom: 5px;
}
.login-container > form > input {
	height: 30px;
	margin-bottom: 10px;
	background-color: white;
	border: 1px solid grey;
	width: 98%;
}
.login-container > p {
	margin-top: 15px;
	font-size: 12px;
}
.login-siginbutton {
	background: #607848;
	border-radius: 2px;
	color: white;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
}
.login-createbutton {
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
}

.login input {
	padding: 5px;
}
